<% provide(:title, "Home") %>
<div class="ui secondary pointing menu">
  <a class="active item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
  <div class="right menu">
    <a class="ui item">
      <%= user_signed_in? ? link_to("Logout", destroy_user_session_path, method: :delete) : link_to("Login", new_user_session_path) %>
    </a>
  </div>
</div>
<div class="ui segment">
  <p></p>
</div>
