<% provide(:title, "Home") %>
<div class="owl-carousel" style="background-color: black">
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
</div>

<div class="ui internally  grid">
  <div class="row">

    <div class="three wide column">
      <img>
    </div>

    <div class="ten wide column">
      <%= render @best_reviews %>
    </div>

    <div class="three wide column">
      <img>
    </div>
  </div>
</div>


