<%provide(:title, "Search results")%>

<% if @search.reviews.present?%>
  <%= render @search.reviews %>
<%else%>
  <div class="ui bottom attached tab segment active">
    Sorry! No result is match with your search
  </div>
<%end%>
