<table class="ui very basic collapsing celled table">
  <thead class="ui center aligned">
    <tr>
      <th>Created_at</th>
      <th>Train model informations</th>
      <th>Confusion matrix</th>
      <th>Accuracy</th>
    </tr>
  </thead>
  <tbody>
    <%= render @trains %>
  </tbody>
</table>
