<table class="ui very basic collapsing celled table">
  <thead>
    <tr>
      <th>Created_at</th>
      <th>Train data</th>
      <th>Test data</th>
      <th>Precision</th>
      <th>Recall</th>
      <th>Fmeasure</th>
      <th>Matrix</th>
      <th>Accuracy</th>
    </tr>
  </thead>
  <tbody>
    <%= render @trains %>
  </tbody>
</table>
