<div class="ui menu">
  <a class="item" href="<%=root_path%>">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete do%>
        <div class="item">
          <div class="ui negative button">Sign out</div>
        </div>
        <%end %>
      <% else %>
        <%= link_to new_user_registration_path do%>
        <div class="item">
          <div class="ui positive button">Sign up</div>
        </div>
        <% end %>
        <%= link_to new_user_session_path do%>
        <div class="item">
          <div class="ui primary button">Log-in</div>
        </div>
        <% end %>
      <% end %>
  </div>
</div>
