<blockquote class="messageText SelectQuoteContainer ugc baseHtml">


            <div style="text-align: center">

  <img src="https://tinhte.cdnforo.com/store/2014/05/2497845_tinhte_lg_g3.jpg" alt="tinhte_lg_g3.jpg" class="bbCodeImage LbImage">

<br>
​</div>Đúng 12 giờ đêm nay, <a href="tags/lg/" class="Tinhte_XenTag_TagLink">LG</a> sẽ tổ chức sự kiện giới thiệu chiếc điện thoại <a href="tags/lg-g3/" class="Tinhte_XenTag_TagLink">LG G3</a> đồng loạt ở New York, San Francisco và London. Mời các bạn xem <a href="tags/tuong-thuat-truc-tiep/" class="Tinhte_XenTag_TagLink">tường thuật trực tiếp</a> buổi giới thiệu này trên Tinhte.vn. LG G3 là chiếc điện thoại theo xu hướng đơn giản hóa mọi việc của LG, bổ sung thêm hàng loạt tính năng mới nhưng lại tinh chỉnh cho mọi thứ dễ sử dụng hơn. G3 cũng là sản phẩm có màn hình 2K đầu tiên được bán với số lượng lớn thay vì nhỏ giọt.<br>
<br>
<div style="text-align: center">
<b><span style="font-size: 18px"><span style="color: #ff8000"><a href="http://social.tinhte.vn/live/LGG3/" target="_blank" class="externalLink">Tham gia sự kiện tường thuật trực tiếp LG G3 tại đây</a></span></span></b>​</div>
<br>
Sáng ngày mai, LG cũng tổ chức một buổi lễ giới thiệu khác ở Singapore, Seoul và Istanbul. Tinhte.vn sẽ có mặt ở Singapore để trên tay sản phẩm này.<br>
<br>
<b><i>Anh em có thể tìm hiểu thêm về G3 tại:</i></b><br>
<ul>
<li><b><i><a href="http://www.tinhte.vn/threads/cau-hinh-chi-tiet-lg-g3.2303025/unread" target="_blank" class="externalLink">Cấu hình chi tiết LG G3</a></i></b></li>
<li><b><i><a href="http://www.tinhte.vn/threads/lg-chinh-thuc-gioi-thieu-quickcircle-case-vo-bao-ve-danh-cho-g3.2303244/unread" target="_blank" class="externalLink">LG chính thức giới thiệu QuickCircle Case - vỏ bảo vệ dành cho G3</a></i></b></li>
<li><b><i><a href="http://www.tinhte.vn/threads/lo-hinh-anh-chinh-thuc-cua-lg-truoc-gio-ra-mat.2305208/unread" target="_blank" class="externalLink">Lộ hình ảnh chính thức của LG trước giờ ra mắt</a></i></b></li>
<li><a href="http://www.tinhte.vn/threads/ro-ri-nhieu-anh-bao-chi-ro-net-cua-lg-g3.2299942/unread" target="_blank" class="externalLink"><b><i>Rò rỉ nhiều ảnh báo chí rõ nét của LG G3</i></b></a></li>
</ul>


            <div class="messageTextEndMarker"> </div>
          </blockquote>
