<div class="ui right demo vertical inverted sidebar labeled icon menu" style="padding-top:50px">
  <a class="item" href="<%=root_path%>">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item" href="<%=reviews_path%>">
    <i class="block layout icon"></i>
    Reviews
  </a>
  <%= link_to destroy_user_session_path, method: :delete do%>
    <div class="item fixed bottom">
      <div class="ui red button">Sign out</div>
    </div>
  <%end %>
</div>
