<div class="ui sticky vertical menu" style=" padding-top:50px width: 900px !important; height: 900px !important; left: -1000px;">
  <div class="item">
    <a class="ui animated red fade button" href="<%=new_search_path%>" >
      <div class="visible content">Advanced search</div>
      <div class="hidden content">
      <i class="search icon"></i>
      </div>
    </a>
  </div>
  <div class="item">
    <%= link_to "Home", root_path %>
    <div class="menu">
      <a class="active item">Search</a>
      <a class="item">Add</a>
      <a class="item">Remove</a>
    </div>
  </div>
  <a class="item">
    <i class="grid layout icon"></i> Browse
  </a>
  <a class="item">
    Messages
  </a>
</div>
